/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


body {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}


a {
  color: currentColor;
  text-decoration: none;
  display: flex;
  font-size: 30px;
  border: solid 1px black;
  padding: 16px;
  border-radius: 16px;
  width: 360px;
  justify-content: center;
  color: #FFFFFF;
  transition: scale 300ms;
  background-color: #c100ff;

}

a:hover {
  background-color: #ad29d7;
  scale: 1.2;
  transition: scale 300ms;
}